header {
    text-align: center;
    color: rgb(255, 0, 0)
}

article {
    text-align: center;
    color: rgba(255, 8, 0, 0.808);
    font-size: xx-large;
}

footer {
    text-align: center;
    font-size: larger;
    color: rgba(238, 7, 7, 0.966);
    

}

body {
    background-image: url(../images/sea2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: rgb(255, 0, 0);
}

.card {
    display: inline-block;
    vertical-align: top;
}

.card-img-top {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
}